body {
    background-color:#1E80C1; /* Updated deep blue background */
    color: #fff;
  }
  
  
  h1, h2 {
    text-align: center;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%; /* Adjust width for smaller screens */
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .file-upload .icon {
    font-size: 2em;
    margin-right: 10px;
  }
  
  .file-upload .text {
    font-weight: bold;
  }
  
  .file-details {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-details .file-name {
    font-weight: bold;
  }
  
  .file-details .file-size {
    font-size: 0.8em;
    color: #666;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .browse-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .features-list {
    margin-top: 20px;
  }
  
  .features-list li {
    margin-bottom: 5px;
  }